@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #1f1f38;
    --secondary-bg-color: #2c2c6c;
    --primary-color: #4db5ff;
    --variant-color: rgba(77, 181, 255, .4);
    --white-color: #fff;
    --light-color: rgba(255, 255, 255, .6);

    --trans: all 400ms ease;
    --sm-container: 75%;
    --md-container: 86%;
    --lg-container: 90%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--bg-color);
    color: var(--white-color);
    background-image: url(./images/bg-texture.png);
}

.container {
    width: var(--container-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}
h1 {
    font-size: 2.5rem;
}
section {
    margin-top: 2rem;
}

section > h2, section > h5 {
    color: var(--light-color);
    text-align: center;
}

.light-text {
    color: var(--light-color)
}

a {
    color: var(--primary-color);
    transition: var(--trans);
}

a:hover {
    color: var(--white-color);
};

.btn {
    width: max-content;
    display: inline-block;
    color: var(--primary-color);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    transition: var(--trans);
}

.btn:hover {
    background: var(--white-color);
    color: var(--bg-color);
    border-color: transparent;
}

.btn-primary {
    background: var(--primary-color);
    color: var(--bg-color);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* Responsive sizing */
/*Medium screen */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--md-container);
    }
    section {
        margin-top: 6rem;
    }
}
/*small screen */
@media screen and (max-width: 600px) {
    .container {
        width: var(--sm-container);
    }
    section > h2 {
        margin-bottom: 2rem;
    }
}